html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(Indoor_sports_complex.png) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    image-rendering: smooth;
}

form {
    margin-bottom: 20px; /* This adds a 20px gap below each form */
}

table {
    margin-bottom: 20px; /* This adds a 20px gap below each form */
}