<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sports Facility</title>
    <link rel="stylesheet" href="Home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title">Sports Facility</div>
    </div>
    <form class="login" method="post" role="form" onsubmit="return updateFormAction()">
        <div class="form-container">
            <div class="field">
                <select name="type" id="loginType">
                    <option value="login">User</option>
                    <option value="Ownerlogin">Facility Owner</option>
                    <option value="stafflogin">Staff</option>
                    <option value="adminlogin">Admin</option>
                </select>
            </div>
            <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" name="Submit" value="Login">
            </div>
        </div>
    </form>
</div>

<script>
    function updateFormAction() {
        var selectedValue = document.getElementById("loginType").value;
        document.querySelector(".login").action = "/" + selectedValue;
        return true; // You can also return false if you want to prevent the form from submitting
    }

    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const userBtn = document.querySelector("label.user");
    const facilityOwnerBtn = document.querySelector("label.facilityOwner");
    const staffBtn = document.querySelector("label.staff");
    const adminBtn = document.querySelector("label.admin");
    userBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    facilityOwnerBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-25%";
        loginText.style.marginLeft = "-25%";
    });
    staffBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    adminBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-75%";
        loginText.style.marginLeft = "-75%";
    });
</script>

</body>
</html>
